.about {
    margin-top: 120px;
    margin-bottom: 120px;
    &_descr {
        font-weight: 600;
        font-size: 26px;
        line-height: 140%;
        color: var(--black);
        margin-bottom: 60px;
    }
    &_counter {
        &-list {
            display: flex;
            justify-content: space-between;
        }
        &-item {
            &-title {
                font-weight: 600;
                font-size: 56px;
                line-height: 160%;
                color: var(--red);
                text-align: center;
            }
            &-descr {
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: var(--black);
                opacity: 0.7;
                text-align: center;
            }
        }
    }
}
