<header class="header">
    <div class="container">
<div class="header_inner">
            <div class="logo">
                <img src="./assets/images/ROBO.SCHOOL.svg" alt="">
            </div>
            <nav class="nav">
                <ul class="nav_list">
                    <li class="nav_list-item">
                        <a href="#about" class="nav_list-link">О школе</a>
                    </li>
                    <li class="nav_list-item">
                        <a href="#" class="nav_list-link">Тренеры</a>
                    </li>
                    <li class="nav_list-item">
                        <a href="#" class="nav_list-link">Стоимость</a>
                    </li>
                </ul>
            </nav>
            <div class="tel">
                <a href="tel:+78000001122">+7 800 000 11 22</a>
            </div>
</div>
    </div>
</header>