:root {
    // main colors
    --black: #141024;
    --white: #FFFFFF;
    --red: #D52027;

    --container-padding: 15px;
    --container-width: 1200px;
    @include mini-desktop {
      --container-width: 1000px;
    }
    @include tablet {
      --container-width: 860px;
    }
    @include mobile {
      --container-width: 480px;
    }
  }
